<div class="dashboard-notification-module">
  <div class="palm-dashboard-icon-container email-dashboard-tap-target">
    <div class="dashboard-newitem">
      <span>#{count}</span>
    </div>
     <div class="palm-dashboard-icon feeds">
     </div>
  </div>   
  <div class="palm-dashboard-text-container email-dashboard-tap-target">
     <div class="dashboard-title">
     	Unread Articles on Feeds
     </div>
    <div class="palm-dashboard-text">
      You have #{count} unread articles in Google Reader.
    </div>
  </div>
</div>