<div class="palm-page-header fixed">
	<div class="palm-page-header-wrapper">
	    <div id="appIcon" class="img_icon"></div>                        
		<div class="title">Add New Feed</div>
	</div>
</div>
<div class="palm-page-header-fixed-after-extra"></div>


<div class="palm-group">
	<div class="palm-group-title" x-mojo-loc=''>Feed Title</div>
		<div class="palm-list">
	   		<div class="palm-row single">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
	      				<div x-mojo-element="TextField" id="titleField" class="listClass" name="listName"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="palm-group">
	<div class="palm-group-title" x-mojo-loc=''>Feed URL</div>
		<div class="palm-list">
	   		<div class="palm-row single">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
	      				<div x-mojo-element="TextField" id="urlField" class="listClass" name="listName"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>





<div x-mojo-element="Button" id="addButton" class="buttonClass" name="buttonName"></div>
<div x-mojo-element="Button" id="cancelButton" class="buttonClass" name="buttonName"></div>