<div class="palm-page-header">
	<div class="palm-page-header-wrapper">
	    <div id="appIcon" class="img_icon"></div>                        
		<div class="title">Preferences</div>      
	</div>
</div>

<div class="sectionHead"># Articles to Fetch at a Time</div>
<div class="palm-group unlabeled">
	<div class="palm-list">
		<div class="palm-row first last" x-mojo-tap-highlight="momentary">
			<div class="palm-row-wrapper">
				<div x-mojo-element="ListSelector" id="countSelector" class="listselectorClass" name="countSelector"></div>
			</div>
		</div>
	</div>     	
</div>




<div class="palm-group unlabeled">
	<div class="palm-list">
		<div class="palm-row first last">
			<div class="palm-row-wrapper">
				<div x-mojo-element="ToggleButton" id="darkThemeToggle" name="togglebuttonName"></div>
				<div class="title" x-mojo-loc="">
                	Use Dark Theme
            	</div>
			</div>
		</div>
</div>