.img_icon {
	position:absolute;
	left:10px;
	top:5px;
	width:32px; 
	height:32px;
	background: url(../images/icon_32x32.png) no-repeat center ;
	padding: 10px 0px 0px 5px;
	float:left;	
}
.list_scene {
	position:relative;
	left:48px;
	top:10px;
	width:32px; 
	height:32px;
	vertical-align:bottom;
	padding: 0px 0px 0px 5px;
	float:left;
}
.img_email {
	position:relative;
	left:8px;
	top:10px;
	width:32px; 
	height:32px;
	background: url(../images/application-email.png) no-repeat bottom;
	vertical-align:bottom;
	padding: 0px 0px 0px 5px;
	float:left;
}
.img_phone {
	position:relative;
	left:8px;
	top:10px;
	width:32px; 
	height:32px;
	background: url(../images/application-phone.png) no-repeat  bottom;
	padding: 0px 0px 0px 5px;
	float:left;
}
.img_web {
	position:relative;
	left:8px;
	top:10px;
	width:32px; 
	height:32px;
	background: url(../images/application-web.png) no-repeat  bottom;
	padding: 0px 0px 0px 5px;
	float:left;
}
.palm-page-header.fixed
{
	position:fixed;
	width:100%;
	top:0px;
	left:0px;
	height:52px;
}
.palm-page-header.fixed .title
{
	font-size:24px;
	padding: 10px 16px 13px 56px;
}
.palm-page-header.fixed:after,.palm-page-header-fixed-after
{
	margin-top:54px;
}
.palm-page-header-fixed-after-extra
{
	margin-top: 68px;
}
#addIcon
{
	position:absolute;
	right:10px;
	top:5px;
	width:32px; 
	height:32px;
	background: url(../images/add_icon.png) no-repeat center ;
	padding: 10px 5px 0px 0px;
	float:left;	
}
#addIcon:active
{
	opacity:0.2;
}


.feedItem
{
	position:relative;
	height:50px;
}

.feedItem .icon
{
	position:absolute;
	top:5px;
	left:5px;
	width:40px;
	height:40px;
	overflow: hidden;
	background-image: inherit;
	background-position: center center;
	background-repeat: none;
}
.feedItem .title
{
	line-height: 50px;
	margin-left:50px;
	white-space: nowrap;
	padding:0px;
	height:50px;
}




#overNightShade
{
	position:absolute;
	display: block;
}
.fullScreen
{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	width:100%;
	display: block;
}
.loader
{
	width:31px;
	height:31px;
	background: transparent url('../images/loader.gif') center center no-repeat;
}
.loading
{
	width:128px;
	height:15px;
	background: transparent url('../images/loading.gif') center center no-repeat;
}