.img_icon {
	position:absolute;
	left:10px;
	top:5px;
	width:32px; 
	height:32px;
	background: url(../images/icon_32x32.png) no-repeat center center;
	padding: 10px 0px 0px 5px;
}
.palm-dashboard-icon.feeds {
	background: url(../images/icon_48x48.png) center left no-repeat; 
}
.refresh_icon {
	position:absolute;
	left:10px;
	top:5px;
	width:32px; 
	height:32px;
	background: url(../images/refresh.png) no-repeat center center;
	padding: 10px 0px 0px 5px;
}
.clear {
	clear: both;
}
body
{
	font-size: 20px;
}

body.fontsize-small
{
	font-size: 15px;
}

body.fontsize-large
{
	font-size: 25px;
}


body.offline .refresh_icon {
	width:40px; 
	background: url(../images/working_offline.png) no-repeat center center;
}
.folder_icon {
	position:absolute;
	left:10px;
	top:5px;
	width:32px; 
	height:32px;
	background: url(../images/folder.png) no-repeat center center;
	padding: 10px 0px 0px 5px;
}
.smallLoader
{
	position:fixed;
	left:15px;
	top:10px;
	width:32px; 
	height:32px;
	background: url(../images/small_loader.gif) no-repeat center center;
	z-index: 1100;
}
.smallestLoader
{
	width:16px; 
	height:16px;
	background: url(../images/smallest_loader.gif) no-repeat center center;
	z-index: 1100;
}
.list_scene {
	position:relative;
	left:48px;
	top:10px;
	width:32px; 
	height:32px;
	vertical-align:bottom;
	padding: 0px 0px 0px 5px;
	float:left;
}
.img_email {
	position:relative;
	left:8px;
	top:10px;
	width:32px; 
	height:32px;
	background: url(../images/application-email.png) no-repeat bottom;
	vertical-align:bottom;
	padding: 0px 0px 0px 5px;
	float:left;
}
.img_phone {
	position:relative;
	left:8px;
	top:10px;
	width:32px; 
	height:32px;
	background: url(../images/application-phone.png) no-repeat  bottom;
	padding: 0px 0px 0px 5px;
	float:left;
}
.img_web {
	position:relative;
	left:8px;
	top:10px;
	width:32px; 
	height:32px;
	background: url(../images/application-web.png) no-repeat  bottom;
	padding: 0px 0px 0px 5px;
	float:left;
}
.fullscreen
{
	display: block;
	position: fixed;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
}
.palm-page-header.fixed
{
	position:fixed;
	width:100%;
	top:0px;
	left:0px;
	height:52px;
	opacity:1;
	z-index: 1000;
}
.palm-page-header.fixed .title
{
	font-size:1.2em;
	padding: 10px 60px 13px 56px;
	position:relative;
	width:auto;
}
.palm-page-header.fixed:after,.palm-page-header-fixed-after
{
	margin-top:54px;
}
.palm-page-header-fixed-after-extra
{
	margin-top: 68px;
}
#addIcon
{
	position:absolute;
	right:10px;
	top:5px;
	width:32px; 
	height:32px;
	background: url(../images/add_icon.png) no-repeat center;
	padding: 10px 5px 0px 0px;
	float:left;	
}
#addIcon:active
{
	opacity:0.3;
}
#markIcon
{
	position:absolute;
	right:10px;
	top:5px;
	width:32px; 
	height:32px;
	background: url(../images/mark_icon.png) no-repeat center;
	padding: 10px 5px 0px 0px;
	float:left;	
}
body.offline #markIcon
{
	display: none;
}

#markIcon:active
{
	opacity:0.3;
}


#toggleIcon
{
	position:absolute;
	right:10px;
	top:5px;
	width:32px; 
	height:32px;
	background: url(../images/toggle_all.png) no-repeat center;
	padding: 10px 5px 0px 0px;
	float:left;	
}
#toggleIcon.unread
{
	background: url(../images/toggle_new.png) no-repeat center;
}
#toggleIcon.starred
{
	background: url(../images/toggle_starred.png) no-repeat center;
}
#feedList .feedItem
{
	min-height: 20px;
	height: auto;
	position: relative;
}

#feedList .selected > .palm-row-wrapper,
#feedList .selected > .palm-row.palm-swipe-delete,
#feedList .selected > .palm-delete-element,
#feedList .selected > .palm-reorder-element
{
	margin: 0px;
}
#feedList .selected
{
	margin: 0px;
	padding: 0px;
	border-width: 1px;
}
#feedList .feedItem.folder .icon
{
	position: absolute;
	top: 50%;
	left: 5px;
	margin-top: -16px;
	width: 32px;
	height: 32px;
	background: transparent url('../images/folder.png') center center no-repeat;
}
#feedList .feedItem.feed .icon
{
	position: absolute;
	top: 50%;
	left:6px;
	margin-top: -16px;
	width:32px;
	height: 32px;
	background: transparent url('../images/feed.png') center center no-repeat;
}

#feedList .feedItem.psuedo .icon
{
	position: absolute;
	top:50%;
	left:6px;
	margin-top: -16px;
	width: 32px;
	height: 32px;
	background: transparent url('../images/all-items.png') center center no-repeat;
}

#feedList .feedItem .title
{
	line-height: 2.25em;
	font-size: 1em;
	padding:0 55px 0 45px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
#feedList .feedItem .unreadCount
{
	position: absolute;
	min-width: 26px;
	padding: 0 2px;
	top: 50%;
	right: 10px;
	text-align: center;
	font-size: 0.7em;
	text-shadow: 1px 1px 1px #BBBBBB;
	border: 2px solid #B0B0B0;
	border-radius: 10px;
	margin-top: -15px;
	-webkit-border-radius: 10px;
}
.fontsize-small #feedList .feedItem .unreadCount
{
	border-width: 1px;
	border-radius: 6px;
	margin-top: -11px;
}
.fontsize-large #feedList .feedItem .unreadCount
{
	margin-top: -20px;
}
#feedList .feedItem .unreadCount span
{
	display: block;
	margin:0 auto;
	text-align: center;
	line-height: 2em;
}
#feedList .feedItem.starred .unreadCount
{
	background: transparent url(../images/starred.png) center center no-repeat;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	border: none;
}
#feedList .feedItem.starred .unreadCount span
{
	display: none;
}

#overNightShade
{
	position:absolute;
	display: block;
}
.fullScreen
{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	width:100%;
	display: block;
}
.loader
{
	width:31px;
	height:31px;
	background: transparent url('../images/loader.gif') center center no-repeat;
}
.loading
{
	width:128px;
	height:15px;
	background: transparent url('../images/loading.gif') center center no-repeat;
}

div.sectionHead
{
	font-size:0.8em;
	font-weight:bold;
	text-transform: uppercase;
	vertical-align: middle;
	color:#FFF;
	text-shadow: rgb(100, 100, 84) 0px 1px 0px;
	height:28px;
	margin:12px 8px 4px 8px;
	line-height: 28px;
	padding: 0;
	-webkit-border-image: url(../images/section_header.png) 0 19 0 19 stretch stretch;
	border-width: 2px 16px 2px 16px;
}

div.starred div#main-header div.palm-page-header-wrapper
{
	background: url(../images/small_star.png) 97% 12px no-repeat;
}
div#main-header.article 
{
	height: auto;
	min-height: 52px;
}
div#main-header.article div#appIcon
{
	top:50%;
	margin-top: -18px;
}
div#main-header div#articleTitle
{
	vertical-align:middle;
	font-size:0.8em;
	white-space: normal;
	overflow-y: hidden;
	position: static;
	color:#111;
}
div#main-header div.feedTitle
{
	margin:-4px 10px 10px 56px;
	font-size:0.8em;
	font-weight:bold;
	color:#777;
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	width:200px;
}
div#article
{
	margin:10px 5px 25px 5px;
	font-size: 20px;
}
body.fontsize-small div#article
{
	font-size: 15px;
}
body.fontsize-large div#article
{
	font-size: 24px;
}

div#article img
{
	max-width: 100%;
}
div#feedList .articleItem
{
	min-height: 40px;
	
}
div#feedList .articleItem.starred .palm-row-wrapper
{
	background: transparent url('../images/small_star.png') 98% 4px no-repeat;
}
div#feedList .articleItem div.title
{
	font-size:0.9em;
	padding:4px 6px;
}
div#feedList .articleItem.starred div.title
{
	padding: 4px 26px 4px 6px;
}
div#feedList .articleItem.unread div.title
{
	font-weight:bold;
}
div#feedList .articleItem div.feedTitle
{
	font-weight:bold;
	font-size:0.6em;
	padding:0px 6px 4px 6px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display:block;
	width:98%;
	color:#777;
}
div#feedList .articleItem .starred
{
	width:20px;
	height:20px;
	position: absolute;
	top:3px;
	right:3px;
	
	
}
div#feedList .articleItem.starred .starred
{
	display: block;
}


#loadMore
{
	height:28px;
	background: transparent url('../images/loadmore.png') bottom center no-repeat;
	margin-bottom:16px;
	margin-top:16px;
	width:100%;
}
#loadMore.loading
{
	background: transparent url('../images/load_more.gif') center center no-repeat;
	height:32px;
}
.dashboard-notification-module .smallestLoader
{
	position: absolute;
	top:5px;
	right: 5px;
}
div#main-header.article div#articleTitle
{
	font-weight: bold;
}
div#main-header.article.has-been-read div#articleTitle
{
	font-weight: lighter;
}